html {
  font-size: 20px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
}

.main-container {
  flex-direction: row;
}

.left-column-container {
  flex-direction: row;
}

.mid-container {
  flex-direction: row;
  width: 800px;
  margin: 0 auto;
  background-color: #bbbbbb;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

.head-container {
  margin: auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

a {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}
